

*{
  background-color: #222831;
  color: #EEEEEE;
}

::selection {
  background: #393E46;
}

body {
  margin: 0;
  max-width: 1450px;
  margin-left: auto;
  margin-right: auto;
}



.cursor {
  position: fixed;
  width: 150px;
  height: 150px;
  background:  #57737A;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9;
  mix-blend-mode: color-dodge;
  box-shadow: 0 0 1000px #57737A, 0 0 300px #57737A, 0 0 100px #57737A, 0 0 100px #57737A;
}




.Navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  position: fixed;
  width: 100%;
}


.Navbar a{
  text-decoration: none;
  color: #EEEEEE;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.3s ease 0s;
  margin-left: 30px;
}





.About-Me{
  display: flex;
  justify-content: center;

}


.About-jsx{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 600px;

}


.about-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 100vh;
  margin-left: 40px;
}


.About h3{
  margin-bottom: 0px;
  font-size: 48px;
  margin-top: 0px;
}

.About h4{
  margin-bottom: 0px;
  margin-top: 5px;
  font-size: 24px;
  color: #00ADB5;
  letter-spacing: 1px;
}


.About p{
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 0px;
  line-height: 1.5;
  letter-spacing: 1px;
}


strong{
  color: #00ADB5;
  font-weight: bold;

}

.About button{
  background-color: #393E46;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  border-radius: 25px;
  margin-top: 30px;
}


.About button:hover{
  background-color: #000000;
}













.education-content ul{
  list-style-type: none;
  display: flex;
  padding-left: 0px;
}

.education-content li{
  padding: 0 20px;
}

.education-section{
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}


.education{
  margin-bottom: 100px;
}



.education-section h1{
  color: #EEEEEE;
  display: block;
  width: 300px;
  font-size: 48px;
  margin: 0px 0px;
}


.education-side{
  width: 900px;
  margin-left: 40px;
}



.education-side h2{
  margin-bottom: 0px;
  font-size: 32px;
  margin-top: 15px;

}


.education-side h4{
  margin-bottom: 0px;
  margin-top: 5px;
  font-size: 24px;
  letter-spacing: 1px;
  color:#00ADB5
}


.education h5{
  margin-bottom: 0px;
  margin-top: 15px;
  font-size: 18px;
  letter-spacing: 1px;
  color:#EEEEEE;
}


.education h6{
  margin-bottom: 0px;
  margin-top: 25px;
  font-size: 20px;
  letter-spacing: 1px;
  color:#EEEEEE;
}


.education ul{
  margin: 0px;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  
}

.education li{
  font-size: 18px;
  margin-bottom: 7px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #393E46;
  background-color: #DDD1C7;
  padding: 7px 20px;
  text-align: center;
  border-radius: 25px;
  margin-right: 10px;
  font-weight: 800;
}







.skill-section{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}


.skill-section h1{
  color: #EEEEEE;
  display: block;
  width: 300px;
  font-size: 48px;
  margin: 0px 0px;
}


.skill-side{
  width: 900px;
  margin-left: 40px;
}

.skill-col{
  display: flex;
  justify-content: center;

}

.skill-col ul{
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}


.skill-col h2{
  margin-top: 0px;
  font-size: 36px;
  font-weight: 900;
  letter-spacing: 1px;
  margin-top: 15px;
  margin-bottom: 10px;
  color:#00ADB5;
  text-decoration: underline;
}


.skill-col .items{
  margin-bottom: 0px;
  margin-top: 20px;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 700;
}




.project-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 300px;
  margin-bottom: 100px;
}


.project-section h1{
  color: #EEEEEE;
  display: block;
  width: 300px;
  font-size: 48px;
  margin: 0px 0px;
}


.project-side{
  width: 900px;
}

.project-side a{

}


.project:hover {
  box-shadow: 0px 0px 75px 0px rgb(0, 0, 0); /* Change this to your desired shadow */
}


.project{
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}

a{
  text-decoration: none;;
}


.project-side h2{
  margin-bottom: 0px;
  font-size: 32px;
  margin-top: 15px;
  color:#00ADB5
}





.project-side h4{
  margin-bottom: 0px;
  margin-top: 5px;
  font-size: 20px;
  letter-spacing: 1px;

}



.project ul{
  margin: 0px;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}

.project li{
  font-size: 18px;
  list-style-type: none;
  margin-bottom: 7px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 25px;
  margin-right: 40px;
  font-weight: 800;
}


